<div class='news-container'>
    <div class="news">
        <div class="preview">
            <img src="${urlToImage}" />
        </div>

        <div class="news-content">
            <div class="title-container">
                <a class="title" href=${url} target="_blank">${title}</a>

                <div class="source">from: ${source.name}</div>
            </div>

            <div class="description">${description}</div>

            <div class="footer">
                <a href="${url}" class="read-more" target="_blank">
                    Read more
                </a>

                <div class="author">by <span class="author-name" title="${author}">${author}</span></div>
            </div>
        </div>
    </div>
</div>